# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/

# output
/out
2023WR036076R_files/libs/bootstrap/bootstrap-icons.css
2023WR036076R_files/libs/bootstrap/bootstrap-icons.woff
2023WR036076R_files/libs/bootstrap/bootstrap.min.css
2023WR036076R_files/libs/bootstrap/bootstrap.min.js
2023WR036076R_files/libs/clipboard/clipboard.min.js
2023WR036076R_files/libs/quarto-html/anchor.min.js
2023WR036076R_files/libs/quarto-html/popper.min.js
2023WR036076R_files/libs/quarto-html/quarto-syntax-highlighting.css
2023WR036076R_files/libs/quarto-html/quarto.js
2023WR036076R_files/libs/quarto-html/tippy.css
2023WR036076R_files/libs/quarto-html/tippy.umd.min.js
.DS_Store
